* {
  -webkit-tap-highlight-color: transparent;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: rgb(25, 21, 29);
  --main-color: rgb(224, 211, 211);
  --switch-btn-bg: linear-gradient(50deg, black, rgb(44, 42, 37), rgb(241, 170, 15));
  --circle-btn-bg: whitesmoke;
  --trans-timing: cubic-bezier(0.03, 0.95, 0, 0.96);
}
.dark:root {
  --bg: rgb(224, 211, 211);
  --main-color: rgb(25, 21, 29);
}
body {
  background-color: var(--bg);
  height: 100vh;
  transition: background-color .3s ease, color .3s ease;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#place {
  margin-top: 0px;
  margin-bottom: 10px;
}
#place-scores {
  margin-bottom: 10px;
}
#user{
  margin-left: 10px;
}


.rps {
  background-color: var(--main-color);
  height: 80px;
  width: 150px;
  font-size: xx-large;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 1s var(--trans-timing),
    color .5s var(--trans-timing),
    background-color .5s var(--trans-timing);
}
.rps:hover {
  transform: scale(1.1);
}
.rps:active {
  transition: transform none;
  box-shadow: 1px 1px 200px 50px black;
}
#scissors {
  margin-left: 9px;
}
#paper {
  margin-left: 9px;
}


.scores {
  color: var(--bg);
  font-family: 'Orbitron', sans-serif;
  background-color: var(--main-color);
  font-weight: bold;
  border: none;
  height: 70px;
  width: 500px;
  font-size: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .5s var(--trans-timing),
    background-color .5s var(--trans-timing);
}
#scores1 {
  height: 70px;
  width: 250px;
  border-radius: 50px;
  margin-left: 10px;
}
#scores2 {
  height: 70px;
  width: 200px;
  border-radius: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}



.reset-s {
  color: var(--bg);
  background-color: var(--main-color);
  border: none;
  height: 50px;
  width: 170px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;  
  margin: 0;
  box-shadow: none;
  transition: color .5s var(--trans-timing),
    transform 1s var(--trans-timing), 
    box-shadow 1s var(--trans-timing),
    background-color .5s var(--trans-timing);
}
.reset-s:hover {
  transform: scale(1.1);
}
.reset-s:active {
  transition: transform none;
  box-shadow: 10px 20px 500px 50px black;
}

.st-header {
  color: var(--main-color);
  font-family: 'Orbitron', sans-serif;
  margin-top: 100px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copy {
  font-family: 'Orbitron', sans-serif;
  margin: 30px;
  color:var(--main-color);
  transition: color .5s var(--trans-timing);
}

.switch-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 60px;
  background-image: var(--switch-btn-bg);
  border-radius: 100px;
  cursor: pointer;
}
.icon {
  position: absolute;
  color: #fff;
  font-size: 38px !important;
  transition: left .5s var(--trans-timing),
    opacity .5s var(--trans-timing);
}
.dark .dark-icon {
  opacity: 0;
  left: 70px;
}
.dark-icon {
  opacity: 1;
  left: 10px;
}
.light-icon {
  opacity: 0;
  left: 10px;
}
.dark .light-icon {
  opacity: 1;
  left: 70px;
}

.circle-btn {
  position: absolute;
  height: 46px;
  width: 46px;
  background-color: var(--circle-btn-bg);
  border-radius: 50%;
  left: 68px;
  transition: left .5s var(--trans-timing);
}
.dark .circle-btn {
  left: 6px;
}

@media (max-width: 500px) {
  .rps {
    font-size: 25px;
    width: 110px;
  }
  .copy {
    font-size: 15px;
    position: absolute;
    bottom: 0;
  }
  .scores {
    font-size: 20px;
  }
}