body {
  background-color: rgb(25, 21, 29);
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#place {
  margin-top: 0px;
  margin-bottom: 20px;
}
#place1 {
  margin-top: 190px;
  margin-bottom: 10px;
}
#place-scores {
  margin-bottom: 10px;
}
#user{
  margin-left: 10px;
}


.rps {
  background-color: white;
  border: white;
  height: 80px;
  width: 150px;
  font-size: xx-large;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.03, 0.95, 0, 0.96);
}
.rps:hover {
  transform: scale(1.1);
}
.rps:active {
  transition: transform none;
  box-shadow: 1px 1px 200px 50px black;
}
#scissors {
  margin-left: 9px;
}
#paper {
  margin-left: 9px;
}


.scores {
  font-family: 'Orbitron', sans-serif;
  background-color: white;
  font-weight: bold;
  border: none;
  height: 70px;
  width: 500px;
  font-size: 20px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#scores1 {
  height: 70px;
  width: 250px;
  border-radius: 50px;
  margin-left: 10px;
}
#scores2 {
  height: 70px;
  width: 200px;
  border-radius: 50px;
  margin-left: 10px;
  margin-bottom: 10px;
}



.reset-s {
  background-color: white;
  border: none;
  height: 50px;
  width: 170px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  font-family: 'Orbitron', sans-serif;
  cursor: pointer;  
  margin: 0;
  box-shadow: none;
  transition: transform 1s cubic-bezier(0.03, 0.95, 0, 0.96); 
  transition: box-shadow 1s cubic-bezier(0.03, 0.95, 0, 0.96);
}
.reset-s:hover {
  transform: scale(1.1);
}
.reset-s:active {
  transition: transform none;
  box-shadow: 10px 20px 500px 50px black;
}

.copy {
  font-family: 'Orbitron', sans-serif;
  margin: 30px;
  color: #ffffff;
}