body {
  background-color: rgb(25, 21, 29);
}
.place {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 350px;
  margin-bottom: 30px;
}

.reset-s-div {
  display: flex;
  align-items: center;
  justify-content: center;
}




.rock {
  background-color: white;
  border: none;
  height: 70px;
  width: 100px;
  font-size: xx-large;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 1s cubic-bezier(0.03, 0.95, 0, 0.96);
}
.rock:hover {
  transform: scale(1.1);
}
.rock:active {
  transition: transform none;
  box-shadow: 10px 20px 500px 50px black;
}

.paper {
  background-color: white;
  border: none;
  height: 70px;
  width: 100px;
  font-size: xx-large;
  border-radius: 50px;
  margin-left: 9px;
  cursor: pointer;  
  transition: transform 1s cubic-bezier(0.03, 0.95, 0, 0.96);
}
.paper:hover {
  transform: scale(1.1);
}
.paper:active {
  transition: transform none;
  box-shadow: 10px 20px 500px 50px black;
}


.scissors {
  background-color: white;
  border: none;
  height: 70px;
  width: 100px;
  font-size: xx-large;
  border-radius: 50px;
  margin-left: 9px;
  cursor: pointer;  
  box-shadow: none;
  transition: transform 1s cubic-bezier(0.03, 0.95, 0, 0.96); 
  transition: box-shadow 1s cubic-bezier(0.03, 0.95, 0, 0.96);
}
.scissors:hover {
  transform: scale(1.1);
}
.scissors:active {
  transition: transform none;
  box-shadow: 10px 20px 500px 50px black;
}

.reset-s {
  background-color: white;
  border: none;
  height: 50px;
  width: 150px;
  font-weight: bold;
  font-size: 15px;
  border-radius: 50px;
  margin-left: 9px;
  cursor: pointer;  
  box-shadow: none;
  transition: transform 1s cubic-bezier(0.03, 0.95, 0, 0.96); 
  transition: box-shadow 1s cubic-bezier(0.03, 0.95, 0, 0.96);
}
.reset-s:hover {
  transform: scale(1.1);
}
.reset-s:active {
  transition: transform none;
  box-shadow: 10px 20px 500px 50px black;
}